{%include 'shopheader.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section id="hero" class="d-flex align-items-center" style="height: 1000px;   background: url('/static/assets/img/hero-img7.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="container"> 
            <center>
    
<form action="" method="post">
    <table   align="center" style="text-align: center; backdrop-filter: blur(100px); margin-top: -200px;">

        <tr>
        <th>ENTER YOUR NEW PASSWORD</th>
        <td><input type="password" name="pwd" class="form-control"></td>
        </tr>
        <tr>
            <th>REENTER YOUR NEW PASSWORD</th>
            <td><input type="password" name="pass" class="form-control"></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="UPDATE" name="up" class="btn btn-primary"></td>
        </tr>
    </table>
</form>
</center>
</div>
    </section>
    <style>
        th{
            padding: 15px;
            color: rgb(0, 0, 0);
            font-size: 25px;
        }
        td{
            color: white;
            padding: 15px;
            
        }
    </style>
{%include 'footer.html'%}